@model List<online_knjizara.ViewModels.KnjigaPrikazVM>
@using online_knjizara.Helpers;



@{
    ViewData["Title"] = "Knjige";
}
<table class="table table-hover">
    <thead>
        <tr>
            <th class="text-left">
                <a asp-controller="Home" asp-action="Index" class="btn btn-info btn-sm">Menu</a>
            </th>
        </tr>
    </thead>
</table>

<h3>@ViewData["Title"]</h3>

<div>
    <p>
        @using (@Html.BeginForm("Index", "Knjiga", FormMethod.Get))
        {
            <b>Pretraga po: </b>@Html.RadioButton("option", "Naziv", true) <text> Naziv </text>
            @Html.RadioButton("option", "Autor") <text> Autor </text>
            @Html.RadioButton("option", "Izdavac") <text> Izdavac </text>
            @Html.RadioButton("option", "Zanr") <text> Zanr </text>
            @Html.RadioButton("option", "Sve") <text> Prikazi sve </text><br />
            @Html.TextBox("search") <input type="submit" value="Pretrazi" class="btn btn-info btn-sm" />
        }
    </p>
</div>

@if (!Model.Any())
{
    <div class="alert alert-info clearfix">
        <span>Nema knjiga za prikaz.</span>

        <a asp-controller="Knjiga" asp-action="Dodaj" class="btn btn-danger btn-xs float-right">Dodaj</a>
    </div>
}

else
{
    <from>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Autor</th>
                    <th>Izdavac</th>
                    <th>Datum</th>
                    <th>Stanje</th>
                    <th>Cijena</th>
                    <th>Zanr</th>
                    <th>Skladiste</th>
                    <th>Odlomak</th>
                    <th>Slika</th>
                    <th class="text-right">
                        <a asp-controller="Knjiga" asp-action="Dodaj" class="btn btn-info btn-sm">Dodaj</a>
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Naziv</td>
                    <td>@item.Autor</td>
                    <td>@item.Izdavac</td>
                    <td>@item.DatumIzdavanja.ToShortDateString()</td>
                    <td>@item.Stanje</td>
                    <td>@item.Cijena KM</td>
                    <td>@item.Zanr</td>
                    <td>@item.Skladiste</td>
                    <td>@item.NazivOdlomka</td>
                   
                    
                    @if (item.Slika!=null)
                    {
                        <td><img src="@SlikaBase64.Prikaz(item.Slika)" style="max-width:50px; max-height:70px" /> </td>
                    }
                    else
                    {
                        <td><img src="~/Theme/dist/img/book.jpg" style="max-width:50px; max-height:70px" /></td>
                    }
                    



                    <td class="text-right">
                        <a asp-controller="Knjiga" asp-action="Uredi" asp-route-id="@item.ID" class="btn btn-info btn-sm">Uredi</a>
                        <a asp-action="Obrisi" asp-route-id="@item.ID" class="btn btn-danger btn-sm">X</a>
                    </td>

                </tr>
                }

            </tbody>
        </table>
        

    </from>


}
