@model List<online_knjizara.ViewModels.KorisnikPrikazVM>



@{
    ViewData["Title"] = "Korisnici";
}
<table class="table table-hover">
    <thead>
        <tr>
            <th class="text-left">
                <a asp-controller="Home" asp-action="Index" class="btn btn-info btn-sm">Menu</a>
            </th>
        </tr>
    </thead>
</table>

<h3>@ViewData["Title"]</h3>

<div>
    <p>
        @using (@Html.BeginForm("Index", "Korisnik", FormMethod.Get))
        {
            <b>Pretraga po: </b>@Html.RadioButton("option", "ImePrezime", true) <text> Ime i prezime </text>
            @Html.RadioButton("option", "Adresa") <text> Adresa </text>
            @Html.RadioButton("option", "Email") <text> Email </text>
            @Html.RadioButton("option", "KorisnickoIme") <text> Korisnicko ime </text>
            @Html.RadioButton("option", "Sve") <text> Prikazi sve </text><br />
            @Html.TextBox("search") <input type="submit" value="Pretrazi" class="btn btn-info btn-sm" />
        }
    </p>
</div>

@if (!Model.Any())
{
    <div class="alert alert-info clearfix">
        <span>Nema korisnika za prikaz.</span>

        <a asp-controller="Korisnik" asp-action="Dodaj" class="btn btn-danger btn-xs float-right">Dodaj</a>
    </div>
}

else
{
    <from >
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Datum rodjenja</th>
                    <th>Adresa</th>
                    <th>Email</th>
                    <th>Telefon</th>
                    <th>Grad</th>
                    <th>Korisnicko ime</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Ime</td>
                    <td>@item.Prezime</td>
                    <td>@item.DatumRodjenja.ToShortDateString()</td>
                    <td>@item.Adresa</td>
                    <td>@item.Email</td>
                    <td>@item.Telefon</td>
                    <td>@item.Grad</td>
                    <td>@item.KorisnickoIme</td>
                    <td class="text-right">
                        <a asp-controller="Korisnik" asp-action="Uredi" asp-route-id="@item.ID" class="btn btn-info btn-sm">Uredi</a>
                        <a asp-action="Obrisi" asp-route-id="@item.ID" class="btn btn-danger btn-sm">X</a>


                    </td>

                </tr>
                }

            </tbody>
        </table>

    </from>
 

}
